# Import Libraries and Read CSV File

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Student_Performance.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   998 non-null    float64
 6   reading_score                996 non-null    float64
 7   writing_score                998 non-null    float64
dtypes: float64(3), object(5)
memory usage: 62.6+ KB

In [4]:
df.shape

(1000, 8)

# Create Only Integer Values Dataset

In [16]:
df1=df[['math_score','reading_score','writing_score']]

In [14]:
df1.info

<bound method DataFrame.info of      math_score  reading_score  writing_score
0          72.0           72.0           74.0
1          69.0           90.0           88.0
2          90.0           95.0           93.0
3          47.0           57.0           44.0
4          76.0           78.0           75.0
..          ...            ...            ...
995        88.0           99.0           95.0
996        62.0           55.0           55.0
997        59.0           71.0           65.0
998        68.0           78.0           77.0
999        77.0           86.0           86.0

[1000 rows x 3 columns]>

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   math_score     998 non-null    float64
 1   reading_score  996 non-null    float64
 2   writing_score  998 non-null    float64
dtypes: float64(3)
memory usage: 23.6 KB

# Measures Of Central Tendency

# Mean

In [17]:
df1.mean()

math_score       66.093186
reading_score    69.186747
writing_score    68.046092
dtype: float64

# Median

In [18]:
df1.median()

math_score       66.0
reading_score    70.0
writing_score    69.0
dtype: float64

# Measure Of Dispersion

# Standard Deviation

In [19]:
df1.std()

math_score       15.177728
reading_score    14.623079
writing_score    15.208213
dtype: float64

# Varience

In [21]:
df1.var()

math_score       230.363424
reading_score    213.834437
writing_score    231.289749
dtype: float64


# Skewness

In [22]:
df1.skew()

math_score      -0.279497
reading_score   -0.262114
writing_score   -0.287949
dtype: float64

# Putting Everything Together

In [23]:
df1.describe()

       math_score  reading_score  writing_score
count  998.000000     996.000000     998.000000
mean    66.093186      69.186747      68.046092
std     15.177728      14.623079      15.208213
min      0.000000      17.000000      10.000000
25%     57.000000      59.000000      57.250000
50%     66.000000      70.000000      69.000000
75%     77.000000      79.250000      79.000000
max    100.000000     100.000000     100.000000